html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: poppins, sans-serif;
  font-size: 1.1rem;
  padding: 20px;
  background-color: #130e0f;
  margin: 0;
  color: #ece5e6;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.search {
  padding: 0 12px;
  border-radius: 8px;
  border: none;
  background-color: #685255;
  color: #ece5e6;
  font-family: poppins;
  font-size: 1.6rem;
}

.weather-now,
.forecast {
  width: 290px;
  background-color: #1c1617;
  padding: 22px 20px;
  text-align: left;
  gap: 4px;

  display: flex;
  flex-direction: column;

  border-radius: 12px;
}

.weather-now h3,
.weather-now h2,
.forecast h2 {
  color: #5b7c5c;
  margin: 0;
}

.weather-now p,
.forecast p {
  margin: 0;
}

.forecasts {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.forecasts .forecast {
  background-color: #445f45;
  width: 250px;
}

.forecast .date {
  font-size: 1.2rem;
  color: #1c1617;
}